.DS_Store
*.class
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/Rectangles/nbproject/private/
/Rectangles/dist/
/Rectangles/build/
/DownloadImages/nbproject/private/
/DownloadImages/dist/
/DownloadImages/build/